{% extends "home/base.html" %}
{% block title %}View Task{% endblock title %}
{% block body %}
    <h1 class="text-center">Your ToDo list</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped-columns table-hover">
                                <thead class="text-center">
                                    <td>Serial No.</td>
                                    <td>Task</td>
                                    <!-- <td>Note</td> -->
                                    <td>Date</td>
                                    <td>Select Option</td>
                                </thead>
                                {% for t in task %}
                                <tbody class="text-center">
                                        <td>{{forloop.counter}}</td>
                                        <td>{{t.task}}</td>
                                        <!-- <td>{{t.note}}</td> -->
                                        <td>{{t.date}}</td>
                                        <td>
                                            <a href="/delete/{{t.id}}" class="btn btn-danger btn-sm">Delete</a>
                                            <a href="/update/{{t.id}}" class="btn btn-success btn-sm">Update</a>
                                        </td>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
{% endblock body %}